body {
    background-image: url(Images/pattern.jpg);
    /* background-color: red; */
}

.container {
    width: 960px;
    max-width: 90%;
    background-color: white;
    /* border: 1px dotted red; */
    padding: 0;
    /* margin-left: 20px;
    margin-right: 20px; */
}
.row {
    /* border: 1px dotted blue; */
    margin: 0;
}
.navbar{
    background: white !important;
    padding:0;
    border-bottom: 2px solid silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.middleContainer {
    margin-top: 2%;
    margin-bottom: 10%;
    border: 2px solid silver;
}

.navbar-brand {
    color: white !important;
    background: #4aaaa5;
    padding: 20px;
    font-size: 30px;
}

.nav-link {
    color: silver;  
    margin-top: 10px;
    padding: 0px;
}

.borderLeft {
    border-left: 1px solid silver;  
}

.cornerTitle {
    color: #4aaaa5;
    padding: 25px;
    border-bottom: 2px solid silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-fluid {
    padding: 25px;
    /* margin-right: 25px; */
}

p {
    font-size: 14pt;
    line-height: 1.5;
}

.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8%;
    background-color: grey;
    color: white;
    border-top: 10px solid #4aaaa5;
    /* margin-top: 100px; */
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    height: 30px;
    color: white;
    background-color: #4aaaa5;
    bottom: 15%;
    left: 5%;
    width: 90%;
}

.img-responsive {
    width: 100%;
    height: 100%;
    padding: 5%;
}

.textBoxes {
    border: 1px solid silver;
    width: 100%;
}

input[type=submit] {
    background-color: #4AAAA5;
    color: white;
    padding: 12px 20px;
    border: none;
    /* border-radius: 4px; */
    width: 100px;
    cursor: pointer;
}