body {
    background-image: url(../Images/pattern.jpg);
    /* background-color: red; */
}
.background {
    /* background-image: url(https://i.imgur.com/ZOcLM7hg.jpg);
    background-repeat: repeat; */
    /* height: 1000px; */
}
.container {
    width: 960px;
    max-width: 90%;
    background-color: white;
    border: 1px dotted red;
    padding: 0;
    /* margin-left: 20px;
    margin-right: 20px; */
}
.row {
    border: 1px dotted blue;
    margin: 0;
}
.navbar{
    background: white !important;
    padding:0;
    border-bottom: 2px solid silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.middleContainer {
    margin-top: 10px;
    margin-bottom: 20%;
}

.navbar-brand {
    color: white !important;
    background: #4aaaa5;
    padding: 20px;
    font-size: 30px;
}

.nav-link {
    color: silver;  
    margin-top: 10px;
    padding: 0px;
}

.borderLeft {
    border-left: 1px solid silver;  
}

.cornerTitle {
    color: #4aaaa5;
    padding: 25px;
    border-bottom: 2px solid silver;
}

.img-fluid {
    padding: 25px;
    /* margin-right: 25px; */
}

p {
    font-size: 14pt;
    line-height: 1.5;
}

.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8%;
    background-color: grey;
    color: white;
    border-top: 10px solid #4aaaa5;
    /* margin-top: 100px; */
}

.rowTwo {
    height: 100%;
}

.col-sm-4 {
    border: 1px dotted green;
}
.box {
    /* margin-bottom: 10px; */
}
#boxTitle {
    width: 100%;
    height: 15%;
    color: white;
    text-align: center;
    background-color:#4AAAA5 ;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 20%;
}

@media (min-width: 640px) {
    .navbar-brand {
        /* background: #4aaaa5;
        width: 640px;
        padding: 20px;
        font-size: 50px; */
    }
}